.freeze {
    pointer-events: none;
  }
  
  h1 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: normal;
    line-height: 2.2rem;
  }
  .btnspn{
    display: flex;
    
  }
  .section0 {
    max-width: 500px;
    margin-top: 9rem;
    margin-left: 40%;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1.1rem   ;
    height: auto;
   padding: 1rem;

  }
  .section0:before {
    content: "";
    width: 100%;
    background: #009a00;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .form-instructions {
    text-align: center;
  }
  
 .formbodyprop
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }
  
  .fieldgroup {
    margin: 1.5rem 0;
    position: relative;
  }
  
  label {
    position: absolute;
    top: 0.8rem;
    left: 0;
    display: block;
    font-size: 1rem;
    transition: page-animDuration ease-out;
    opacity: 0.5;
    will-change: top, font-size;
  }
  label:hover {
    cursor: text;
  }
  
  input {
    border: 1px solid #fff;
    font-size: 1.2rem;
    padding: 0.6rem;
    padding-left: 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #444;
    transition: page-animDuration;
    width: calc(100% - 0.6rem);
    max-width: 350px;
    border-radius: 0;
  }
  input:focus {
    outline: none;
  }
  input:valid {
    border-color: #444;
  }
  input:focus + label, input.hasInput + label {
    top: -0.8rem;
    font-size: 0.7rem;
  }
  

 
 
 
  
  [data-step="4"] button.btn {
    display: block;
    margin: 0 auto;
  }
  
  .form-progress {
    position: relative;
    display: block;
    margin: 3rem auto;
    width: 100%;
    max-width: 400px;
  }
  
  progress {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: green;
    width: 100%;
    height: 5px;
    background: none;
    transition: 1s;
    will-change: contents;
  }
  progress::-webkit-progress-bar {
    background-color: #ddd;
  }
  progress::-webkit-progress-value {
    background-color: green;
    transition: all 0.5s ease-in-out;
  }
  
  .form-progress-indicator {
    position: absolute;
    top: -6px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid #ddd;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.3s;
    will-change: transform;
  }
  .form-progress-indicator.one {
    left: 0;
  }
  .form-progress-indicator.two {
    left: 33%;
  }
  .form-progress-indicator.three {
    left: 66%;
  }
  .form-progress-indicator.four {
    left: 100%;
  }
  .form-progress-indicator.active {
    animation: bounce 0.5s forwards;
    animation-delay: 0.5s;
    border-color: green;
  }
  
  .animation-container {
    position: relative;
    width: 100%;
    transition: 0.3s;
    will-change: padding;
    overflow: hidden;
  }
  
  .form-step {
    position: absolute;
    transition: 1s ease-in-out;
    transition-timing-function: ease-in-out;
    will-change: transform, opacity;
  }
  
  .form-step.leaving {
    animation: left-and-out 0.5s forwards;
  }
  
  .form-step.waiting {
    transform: translateX(400px);
  }
  
  .form-step.coming {
    animation: right-and-in 0.5s forwards;
  }
  
  @keyframes left-and-out {
    100% {
      opacity: 0;
      transform: translateX(-400px);
    }
  }
  @keyframes right-and-in {
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes bounce {
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .hidden {
    display: none;
  }
  select #ptype {
    border:0px;
    outline:0px;
  }