.modi5
{
    width: 100%;
    height: 100%;
    background-color: #eaffea;
}
.maincontainer3
{

    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eaffea;
    width:100vw;
    flex-wrap: wrap;
    
    
}
.buttonselect{
    display: flex;
    justify-content: space-evenly;
   
    flex-direction: row;
    padding: 5px;
  
}
.selecttype{
    margin-left: 45%;
    margin-top: 12.5%;

}

.maincontainer2
{

    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eaffea;
    width:100vw;
    
}

.proptop{
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 12%;
    margin-top: 8rem;
}


.sidebarmain
{
    width:10rem;
    height: 100vh;
    background-color: 	#50C878;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: fixed;   
}
#firstimg
{
    margin-top: 8rem;
    margin-left: 2rem;
    
}
#otherimg
{
    margin-top: 4rem;
    margin-left: 2rem;
}
#imgtext
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: black;
   margin-left: .5rem;
}
.sellerdashboardhomescreen
{
    
    margin-left: 15rem;
    width: 18rem;
    height: 22rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}
.imgg
{
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
}

.formcard2
{
    margin-top: 8rem;
   margin-left: 40%;
    width: 30vw;
    height: fit-content;
    border-radius: 1.5rem;
    background: rgba(125, 248, 100, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.formz
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}
.btn-primary
{
    margin-left: 2rem;
}

#optiontitle
{
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-top: .5rem;
}
.leftcolumn
{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;

}
.leftcolumn
{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.updateleftmargin
{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
}
#main
{
    margin-left: 12rem;
    margin-top: -5rem;
}
.contact
{
    margin-top: -10rem;
}
.sellerhomedash
{
    display: flex;
    flex-direction: column;
}

.containerr {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10rem;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
}
.responsive-table .table-row {
    width:50rem;
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 5%;
}
.responsive-table .col-2 {
    flex-basis: 40%;
}
.responsive-table .col-3 {
    flex-basis: 10%;
}
.responsive-table .col-4 {
    flex-basis: 16%;
}
.responsive-table .col-5 {
    flex-basis: 10%;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
   }
    .responsive-table li {
        display: block;
   }
    .responsive-table .col {
        flex-basis: 100%;
   }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
   }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
   }
}

.responsive-table .col-11 {
    flex-basis: 20%;
}
.responsive-table .col-12 {
    flex-basis: 50%;
}
.responsive-table .col-13 {
    flex-basis: 30%;
}

.avgcontainer
{
    width: 40rem;
    height: 28rem;
    margin-top: 10rem;
    margin-left: 35%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avghead{
    width: 95%;
    height:15%;
    background-color: rgb(93, 174, 76);
    border-radius: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.avghead1{
    width: 95%;
    height:22.5%;
    background-color: gray;
    margin-top: 10px;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.responsive-table .col-21 {
    flex-basis: 6%;
}
.responsive-table .col-22 {
    flex-basis: 25%;
}
.responsive-table .col-23 {
    flex-basis: 22%;
}
.responsive-table .col-24 {
    flex-basis: 21%;
}
.responsive-table .col-25 {
    flex-basis: 15%;
}
.responsive-table .col-26 {
    flex-basis: 8%;
}


.avgcontainer2
{
    width: 40rem;
    height: 28rem;
    margin-top: 2rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.responsive-table .col-31 {
    flex-basis: 10%;
}
.responsive-table .col-32 {
    flex-basis: 25%;
}
.responsive-table .col-33 {
    flex-basis: 13%;
}
.responsive-table .col-34 {
    flex-basis: 17%;
}
.responsive-table .col-35 {
    flex-basis: 15%;
}
.responsive-table .col-41 {
    flex-basis: 10%;
}
.responsive-table .col-42 {
    flex-basis: 25%;
}
.responsive-table .col-43 {
    flex-basis: 13%;
}
.responsive-table .col-44 {
    flex-basis: 17%;
}
.responsive-table .col-45 {
    flex-basis: 15%;
}


